<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorStripeExample.styles.css" />
    <link href="css/site.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="module" src="js/stripeInterop.js"></script>

</body>

</html>
